body{
    padding: 0px;
    margin: 0px;
    
    
    background: #f9dfdc;
    
}

header{
    background-color: #005a8d;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

nav{
    display: flex;
}
nav ul{
  display: flex;
  position: absolute;
  right:200px;
}

nav ul li{
    display: flex;
   justify-content: space-around;
   align-self: end;
   

}

nav ul li a{
   
    margin: 15px;
    font-size: 23px;
    font-weight: 100;
    text-decoration: none;
    color:#fff;
}
nav h1{
      margin-left: 10px;
    font-size: 30px;
    font-weight: 200;
    color: #fff;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
form{
    margin-top: 10px;
    width: 70%;
    background-color: #fdfaf6;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
   
   
}
form h2{
    justify-content: center;
    align-self: center;
    font-weight: 300;
    font-size: 40px;
}
form div{
    display: flex;
    justify-content: space-evenly;
    margin-top:10px;

}

form div input{
    padding: 0.2rem;
    width: 500px;
    align-content: center;
}
form div label{
    font-size: 23px;
}
form div select{
    padding: 0.3rem;
    width: 500px;
    align-content: center;
    margin-left: 60px;
    font-size: 18px;
}

form button{
    display: block;
    margin-top: 10px;
    align-self: center;
    text-align: center;
    width: 400px;
    padding: 0.4rem;
    font-size: 18px;
    background-color: #022e57;
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#Registro{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
#Tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
   background-color: #fdfaf6;
   margin-top: 20px;
   width: 74%;
   border-radius: 10px;
   align-self: center;
   
}
.table{
    width: 60%;
}
table{
    border: 1px solid #000;
    margin-bottom: 40px;
}

